CI_ENVIRONMENT = production
app.baseURL = 'http://192.168.56.101:8080/'
app.indexPage = ''
app.appTimezone = 'Europe/Paris'
database.default.hostname = localhost
database.default.database = gsb_ci
database.default.username = gsb_ci
database.default.password = 'A_GENERER'
database.default.DBDriver = MySQLi
database.default.port = 3306
gsb.adminIds = 'a00'
